body{
    font: 20px Arial, sans-serif;
}
.navbar{
    background-color: rgb(248, 233, 168);
}
.quem-somos{
    background-color: rgb(177, 163, 163);
    color: rgb(39, 37, 37)
}
.margin{
    padding-bottom: 40px;
    padding-top: 10px;
}
.Parceiros{
    background-color: rgb(202, 202, 115);
}
.bg-footer{
    background-color: black;
    color: white;
}